<h1>{{_internalTime}}</h1>
{{#if (eq state 'stopped')}}
  {{#default-button onClick=(action "startClock")}}
    START
  {{/default-button}}
{{else if (eq state 'paused')}}
  {{#default-button onClick=(action "resumeClock")}}
    RESUME
  {{/default-button}}
  {{#default-button onClick=(action "resetClock")}}
    RESET
  {{/default-button}}
{{else}}
  {{#default-button onClick=(action "pauseClock")}}
    PAUSE
  {{/default-button}}
  {{#default-button onClick=(action "resetClock")}}
    RESET
  {{/default-button}}
{{/if}}
