<div>
  {{link-to "" "clock" 
    class="clock-button icon icon-clock-streamline-time"}}
</div>
<div> 
  {{link-to "" "statistics" 
    class="statistics-button icon icon-graph"}}
  {{link-to "" "tasks.new" 
    class="new-task-button icon icon-plus"}}
</div>
