@import 'flex.css';
@import 'statistics.css';
@import 'components/menu-bar.css';
@import 'components/default-button.css';
@import 'components/default-clock.css';
@import 'components/default-tabs.css';
@import 'components/tree-view.css';
@import 'components/tree-view-item.css';
@import 'components/task-form.css';
@import 'components/performance-info.css';
@import 'components/calendar-chart.css';
@import 'components/stream-chart.css';
@import 'fonts.css';

html, body{
  margin: 0 auto;
  max-width: 665px;
  min-width: 300px;
  padding-top: 30px;
  font-family: "Nitti Grotesk",Helvetica,Arial,sans-serif;
}

.default-padding{
  padding: 10px;
}

input{
  width: 370px;
  height: 43px;
  margin: 10px 0 10px 0;
  border: 3px solid #222;
  font-size: 24px;
  letter-spacing: 4px;
  padding-left: 25px;
}

textarea{
  width: 370px;
  margin: 10px 0 10px 0;
  border: 3px solid #222;
  font-size: 24px;
  letter-spacing: 4px;
  padding-left: 25px;
}

.ember-power-select-trigger{
  width: 370px;
  min-height: 43px;
  border: 3px solid #222 !important;
  border-radius: 0;
  letter-spacing: 3px;
  font-size: 24px;
  overflow: hidden;
}

.ember-power-select-trigger:focus {
  outline: 0;
}

.ember-basic-dropdown-content{
  border-radius: 0;
  border: 3px solid #222 !important;
  margin-top: 3px;
  letter-spacing: 3px;
}

.ember-power-select-trigger-multiple-input{
  margin: 0 0 0 10px;
  letter-spacing: 0;
}

.ember-power-select-multiple-option{
  background-color: #f2f2f2;
}

h3{
  letter-spacing: 3px;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 10px;
}

.loading-container img{
  display: block;
  width: 300px;
  margin: 0 auto;
}
