.tree-view-item{
  max-width: 523px;
  height: 32px;
  list-style-type: none;
  letter-spacing: 2px;
}

.tree-view-item .item-name:hover{
  cursor: pointer;
}

.tree-view-item .item-row{
  height: 23px;
  //background-color: #f2f2f2;
  padding: 9px 10px 0 25px;
}

.tree-view-item .item-controls{
  width: 100px;
}

.tree-view-item ul{
  width: 100%;
}

.tree-view-item a{
  text-decoration: underline;
}

.tree-view-item a:hover{
  cursor: pointer;
}
