<div class="edit-task">
  <h1>edit</h1>
  {{input value=model.name placeholder="name"}}

  {{textarea 
    value=model.description  
    placeholder="description"
    cols="80" rows="6"}}
  {{input value=tagList}}
</div>
